.header-wrapper {
  background-color: white;
  padding: 5px 0px;
  width: 100%;
  position: fixed;
  top: 0px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  background-image: url('../images/trees.png');
  min-height: 1000vh;
  padding: 10px 0px;
  padding-top: 120px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;

  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0px 20px;
  width: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0px;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border 0.5s ease-in-out,
    transform 1s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  margin: 0 auto;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 0.5s ease-in-out infinite forwards;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.chat-screen .chat_timestamp {
  background-color: #fff;
  padding: 5px 10px;
  margin: 10px 0px;
  width: 200px;
  border-radius: 40px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px;
}

.incoming-message {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.incoming-message .friend__avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 20px;
  animation: spin 0.5s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotateY(1turn);
  }
  to {
    transform: none;
  }
}

.message .message__bubble {
  background-color: white;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  display: block;
}

.incoming-message .message__author {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.sent-message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #7474bf, #348ac7);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #ed4264, #ffedbc);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 1s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 1s linear forwards;
}
